<%= link_to post do %>
  <div id="<%= dom_id post %>">
    <div class="py-1 text-3xl">
      <%= post.title %>
    </div>
    <div class="py-4">
      <%= post.body %>
    </div>
    <% if action_name != "show" %>
      <%#= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%#= button_to "Destroy this post", post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium text-gray-100" %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>
